div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    width: 100%;
}
#submit {
    background-color: lightgreen;
    color: darkred;
    width: 100%;
}
label {
    display: inline-block;
    width: 30%; /* Adjust width as needed */
    vertical-align: top; /* Aligns label to the top */
}

input, textarea, select {
    width: 65%; /* Adjust width to fit next to label */
    box-sizing: border-box;
}